.Item-button button{
    display: block;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .Item-button button:hover {
    background-color: rgb(100, 120, 237);
    color: whitesmoke;
  }
  
  .Item-button button:active {
    font-size: 10px;
  }
  


  