.addPlaylist button{
  display: block;
  position: relative;
  z-index: 11;
  height: 20px;
  width: 80px;
  border-radius: 50px;
  border: 0px;
  background-color: rgb(229, 233, 240);
  color: rgb(112, 112, 112);
}

